* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #707070; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  height: 400px;
  background-color: rgba(223, 212, 212, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.header-svg {
  height: 2px;
  display: block;
  width: 70%;
  margin: 30px; }

.header-line {
  stroke: #707070;
  stroke-width: 2; }

.header-introduction {
  display: flex; }
  .header-introduction .header-image {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-introduction .header-image img {
      border-radius: 50%;
      width: 200px;
      height: 200px; }
  .header-introduction .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .header-introduction h1 {
    font-size: 55px;
    font-weight: bold; }
  .header-introduction h2 {
    font-weight: normal; }

.header-links {
  display: flex;
  justify-content: center; }
  .header-links a {
    margin: 0px 6px; }
    .header-links a :hover {
      transition-property: all;
      transition-duration: 0.2s;
      fill: #564d85; }
  .header-links svg {
    transition-property: all;
    transition-duration: 0.2s;
    height: 50px;
    width: 50px;
    fill: #f2f2f2; }

.header-container {
  margin: 0px 16px; }
  .header-container h1 {
    color: #564d85; }
  .header-container h2 {
    color: #f2f2f2; }

header::after {
  height: 400px;
  content: "";
  background-image: url("../img/StockSnap_MRF1628S9A.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top left;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

@media only screen and (max-width: 1280px) {
  header {
    justify-content: center;
    height: 500px; }
  header::after {
    height: 500px; }
  .header-container {
    color: #707070; }
  .header-introduction {
    color: #564d85;
    margin: 10px 16px;
    text-align: center; }
  .header-text {
    margin-left: 16px; }
  .header-links {
    text-align: center;
    margin-top: 6px; } }

@media only screen and (max-width: 900px) {
  .header-container {
    display: flex;
    flex-direction: column; }
    .header-container .header-introduction {
      display: flex;
      flex-direction: column; }
      .header-container .header-introduction h1 {
        font-size: 40px; }
  .header-text {
    margin-left: 0; } }

@media only screen and (min-width: 1280px) {
  .header-container {
    display: flex;
    margin: 0px 180px;
    align-items: center;
    align-self: stretch;
    color: #707070;
    justify-content: space-between; }
  .header-svg {
    width: 75%; }
  .header-text {
    margin-left: 16px; }
  .header-links a {
    margin: 0px 6px; } }

section {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.section-container {
  text-align: center;
  margin: 0px 100px;
  color: #dfd4d4; }

.section-header {
  margin: auto;
  height: 50px;
  background-color: #564d85;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-content {
  background-color: red;
  margin-top: 20px; }
  .section-content ul {
    display: flex;
    flex-wrap: wrap; }

.section-content-item {
  background-color: black;
  flex: 1 1 30%;
  margin: 6px;
  padding: 6px; }

@media only screen and (max-width: 1280px) {
  .section-container {
    text-align: center;
    margin: 0px 60px; } }

@media only screen and (max-width: 900px) {
  .section-container {
    margin: 0px 30px; }
  .section-content ul {
    flex-direction: column; }
  .section-content-item {
    width: auto; } }

footer {
  background-color: #171717;
  margin-top: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  color: #f2f2f2; }
  footer .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

@media only screen and (max-width: 1280px) {
  footer .footer-container {
    flex-direction: column; } }

header,
header::after {
  position: absolute;
  height: 100%;
  width: 100%; }

@media only screen and (max-width: 900px) {
  header .header-svg {
    margin-top: 10px;
    margin-bottom: 10px; }
  header .header-container .header-introduction img {
    width: 180px;
    height: 180px; }
  header .header-container .header-introduction h1 {
    font-size: 35px; }
  header .header-container .header-introduction h2 {
    font-size: 20px; }
  header .header-links svg {
    width: 40px;
    height: 40px; } }

section {
  display: none; }

footer {
  display: none; }

.work-in-progress {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px 70px; }

a {
  color: #564d85;
  transition: 0.2s color;
  font-weight: 700; }

a:hover {
  transition: 0.2s color;
  color: #f2f2f2; }
