.hide {
  visibility: hidden;
}

.focused {
  animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
}

.blurred {
  animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slide-from-left {
  $distance-from-left: -150px;
  $distance-from-top: 0;
  from {
    @include transform(translate($distance-from-left, $distance-from-top));
  }
  to {
    @include transform(translate(0, 0));
  }
}
@keyframes slide-from-right {
  $distance-from-left: 150px;
  $distance-from-top: 0;
  from {
    @include transform(translate($distance-from-left, $distance-from-top));
  }
  to {
    @include transform(translate(0, 0));
  }
}
@keyframes slide-from-top {
  $distance-from-left: 0;
  $distance-from-top: -150px;
  from {
    @include transform(translate($distance-from-left, $distance-from-top));
  }
  to {
    @include transform(translate(0, 0));
  }
}
@keyframes slide-from-bottom {
  $distance-from-left: 0;
  $distance-from-top: 150px;
  from {
    @include transform(translate($distance-from-left, $distance-from-top));
  }
  to {
    @include transform(translate(0, 0));
  }
}
.fade-in {
  @include animation(fade-in 3s forwards ease-out);
}
.slide-from-left {
  @include animation(slide-from-left 2s forwards);
}
.slide-from-right {
  @include animation(slide-from-right 2s forwards);
}
.slide-from-bottom {
  @include animation(slide-from-bottom 2s forwards);
}
.slide-from-top {
  @include animation(slide-from-top 2s forwards);
}

