.hide {
  visibility: hidden;

}

.focused {
  animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
}

.blurred {
  animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slide-from-left {
  $distance-from-left: -150px;
  $distance-from-top: 0;
  from {
    -ms-transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* IE 9 */
    -webkit-transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* Safari */
    -moz-transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* Safari */
    transform: translate($distance-from-left, $distance-from-top);
    /* Standard syntax */
  }
  to {
    -ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0); /* Safari */
    transform: translate(0, 0);
    /* Standard syntax */
  }
}
@keyframes slide-from-right {
  $distance-from-left: 150px;
  $distance-from-top: 0;
  from {
    -ms-transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* IE 9 */
    -webkit-transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* Safari */
    -moz-transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* Safari */
    transform: translate(
      $distance-from-left,
      $distance-from-top
    ); /* Standard syntax */
  }
  to {
    -ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0);
    /* Safari */
    transform: translate(0, 0);
    /* Standard syntax */
  }
}
@keyframes slide-from-top {
  $distance-from-left: 0;
  $distance-from-top: -150px;
  from {
    -ms-transform: translate($distance-from-left, $distance-from-top);
    -webkit-transform: translate($distance-from-left, $distance-from-top);
    -moz-transform: translate($distance-from-left, $distance-from-top);
    transform: translate($distance-from-left, $distance-from-top);
  }
  to {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes slide-from-bottom {
  $distance-from-left: 0;
  $distance-from-top: 150px;
  from {
    -ms-transform: translate($distance-from-left, $distance-from-top);
    -webkit-transform: translate($distance-from-left, $distance-from-top);
    -moz-transform: translate($distance-from-left, $distance-from-top);
    transform: translate($distance-from-left, $distance-from-top);
  }
  to {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.slide-from-left {
  animation-name: slide-from-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.slide-from-right {
  animation-name: slide-from-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.slide-from-bottom {
  animation-name: slide-from-bottom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.slide-from-top {
  animation-name: slide-from-top;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

