* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $dark-grey;
}

.hide-overflow-x {
  overflow-x: hidden;
}

.hide-overflow-y {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
