header {
  height: 400px;
  background-color: rgba($grey, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-svg {
  height: 2px;
  display: block;
  width: 70%;
  margin: 30px;
}

.header-line {
  stroke: $dark-grey;
  stroke-width: 2;
}

.header-introduction {
  display: flex;
  .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 55px;
    font-weight: bold;
  }
  h2 {
    font-weight: normal;
  }
}

.header-links {
  display: flex;
  justify-content: center;
  a {
    margin: 0px 6px;
    :hover {
      transition-property: all;
      transition-duration: 0.2s;
      fill: $purple;
    }
  }
  svg {
    transition-property: all;
    transition-duration: 0.2s;
    height: 50px;
    width: 50px;
    fill: $dark-grey;
  }
}

.header-container {
  margin: 0px 16px;
  h1 {
    color: $purple;
  }
  h2 {
    color: $white;
  }
}

header::after {
  height: 400px;
  content: "";
  background-image: url("../img/StockSnap_MRF1628S9A.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top left;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

// Tablets
@media only screen and (max-width: $first-query) {
  header {
    justify-content: center;
    height: 500px;
  }

  header::after {
    height: 500px;
  }

  .header-container {
    color: $dark-grey;
  }

  .header-introduction {
    color: $purple;
    margin: 10px 16px;
    text-align: center;
  }

  .header-text {
    margin-left: 16px;
  }

  .header-links {
    text-align: center;
    margin-top: 6px;
  }
}
// Phones
@media only screen and (max-width: $second-query) {
  .header-container {
    display: flex;
    flex-direction: column;
    .header-introduction {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 40px;
      }
    }
  }

  .header-text {
    margin-left: 0;
  }
}

// Desktops
@media only screen and (min-width: $first-query) {
  .header-container {
    // width: 100%;
    display: flex;
    margin: 0px 180px;
    align-items: center;
    align-self: stretch;
    // position: absolute;
    color: $dark-grey;
    justify-content: space-between;
  }

  .header-svg {
    width: 75%;
  }

  .header-text {
    margin-left: 16px;
  }
  .header-links {
    a {
      margin: 0px 6px;
    }
  }
}
