$work-in-progress: true;

@if $work-in-progress == true {
  header,
  header::after {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  header {
    // Phones
    @media only screen and (max-width: $second-query) {
      .header-svg {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .header-container {
        .header-introduction {
          img {
            width: 180px;
            height: 180px;
          }
          h1 {
            font-size: 35px;
          }
          h2 {
            font-size: 20px;
          }
        }
      }
      .header-links {
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  section {
    display: none;
  }
  footer {
    display: none;
  }
  .work-in-progress {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 70px;
  }
  a {
    color: $purple;
    transition: 0.2s color;
    font-weight: 700;
  }
  a:hover {
    transition: 0.2s color;
    color: $white;
  }
} @else {
  .work-in-progress {
    display: none;
  }
}
