$grey: #dfd4d4;
$white: #f2f2f2;
$dark-grey: #707070;
$purple: #564d85;
$gold: #fba100;
$teal: #6bbaa7;
$first-query: 1280px;
$second-query: 900px;

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $dark-grey;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 400px;
  background-color: rgba($grey, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-svg {
  height: 2px;
  display: block;
  width: 70%;
  margin: 30px;
}

.header-line {
  stroke: $dark-grey;
  stroke-width: 2;
}

.header-introduction {
  display: flex;
  .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 55px;
    font-weight: bold;
  }
  h2 {
    font-weight: normal;
  }
}

.header-links {
  display: flex;
  justify-content: center;
  a {
    margin: 0px 6px;
    :hover {
      transition-property: all;
      transition-duration: 0.2s;
      fill: $purple;
    }
  }
  svg {
    transition-property: all;
    transition-duration: 0.2s;
    height: 50px;
    width: 50px;
    fill: $white;
  }
}

.header-container {
  margin: 0px 16px;
  h1 {
    color: $purple;
  }
  h2 {
    color: $white;
  }
}

header::after {
  height: 400px;
  content: "";
  background-image: url("/img/StockSnap_MRF1628S9A.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top left;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section-container {
  text-align: center;
  margin: 0px 100px;
  color: $grey;
}

.section-header {
  margin: auto;
  height: 50px;
  background-color: $purple;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  background-color: red;
  margin-top: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-content-item {
  background-color: black;
  flex: 1 1 30%;
  margin: 6px;
  padding: 6px;
}

footer {
  background-color: darken($color: $dark-grey, $amount: 35);
  margin-top: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  color: $white;
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .footer-skills {
      // background-color: red;
    }
    .footer-description {
      // background-color: blue;
    }
    .footer-contacts {
      // background-color: green;
    }
  }
}

// Tablets
@media only screen and (max-width: $first-query) {
  header {
    justify-content: center;
    height: 500px;
  }

  header::after {
    height: 500px;
  }

  .header-container {
    color: $dark-grey;
  }

  .header-introduction {
    color: $purple;
    margin: 10px 16px;
    text-align: center;
  }

  .header-text {
    margin-left: 16px;
  }

  .header-links {
    text-align: center;
    margin-top: 6px;
  }

  .section-container {
    text-align: center;
    margin: 0px 60px;
  }

  footer {
    .footer-container {
      flex-direction: column;
    }
  }
}

// Phones
@media only screen and (max-width: $second-query) {
  .header-container {
    display: flex;
    flex-direction: column;
    .header-introduction {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 40px;
      }
    }
  }

  .header-text {
    margin-left: 0;
  }

  .section-container {
    margin: 0px 30px;
  }

  .section-content {
    ul {
      flex-direction: column;
    }
  }

  .section-content-item {
    width: auto;
  }
}

// Desktops
@media only screen and (min-width: $first-query) {
  .header-container {
    // width: 100%;
    display: flex;
    margin: 0px 180px;
    align-items: center;
    align-self: stretch;
    // position: absolute;
    color: $dark-grey;
    justify-content: space-between;
  }

  .header-svg {
    width: 75%;
  }

  .header-text {
    margin-left: 16px;
  }
  .header-links {
    a {
      margin: 0px 6px;
    }
  }
}

$work-in-progress: true;

@if $work-in-progress == true {
  header,
  header::after {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  section {
    display: none;
  }
  footer {
    display: none;
  }
  .work-in-progress {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 70px;
  }
  a {
    color: $purple;
    transition: 0.2s color;
    font-weight: 700;
  }
  a:hover {
    transition: 0.2s color;
    color: $white;
  }
} @else {
  .work-in-progress {
    display: none;
  }
}
