$grey: #dfd4d4;
$white: #f2f2f2;
$dark-grey: #707070;
$purple: #564d85;
$first-query: 1100px;
$second-query: 900px;

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $dark-grey;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 400px;
  background-color: rgba($grey, 0.6);
  display: flex;
  align-items: center;
  h1 {
    color: $purple;
  }
  h2 {
    color: $white;
  }
}

section {
  display: flex;
  margin: 0px 100px;
  justify-content: center;
  margin-top: 20px;
}

.section-container {
  text-align: center;
  color: $grey;
}

.section-header {
  margin: auto;
  height: 50px;
  background-color: $purple;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  background-color: red;
  margin-top: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-content-item {
  background-color: black;
  flex: 1 1 30%;
  margin: 6px;
  padding: 6px;
}

header::after {
  height: 400px;
  content: "";
  background-image: url("/img/StockSnap_MRF1628S9A.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top left;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: $first-query) {
  header {
    justify-content: center;
    height: 350px;
  }

  header::after {
    height: 350px;
  }

  .header-container {
    color: $dark-grey;
  }

  .header-introduction {
    color: $purple;
    margin: 10px 16px;
    text-align: center;
    h1 {
      font-size: 45px;
      font-weight: bold;
    }
    h2 {
      font-weight: normal;
    }
  }

  .header-links {
    text-align: center;
    margin-top: 6px;
    a {
      :hover {
        transition-property: all;
        transition-duration: 0.2s;
        fill: $purple;
      }
    }
    svg {
      transition-property: all;
      transition-duration: 0.2s;
      height: 50px;
      width: 50px;
      fill: $dark-grey;
    }
  }

  .section-container {
    text-align: center;
  }

  .section-content {
    ul {
      // flex-direction: column;
    }
  }
}

@media only screen and (max-width: $second-query) {
  .section-content {
    ul {
      flex-direction: column;
    }
  }

  .section-content-item {
    width: auto;
  }
}

@media only screen and (min-width: $first-query) {
  .header-container {
    left: 180px;
    right: 180px;
    height: 25%;
    display: flex;
    align-items: center;
    position: absolute;
    color: $dark-grey;
    justify-content: space-between;
  }

  .header-introduction {
    h1 {
      font-size: 45px;
      font-weight: bold;
    }
    h2 {
      font-weight: normal;
    }
  }

  .header-links {
    a {
      margin: 0px 6px;
      :hover {
        transition-property: all;
        transition-duration: 0.2s;
        fill: $purple;
      }
    }
    svg {
      transition-property: all;
      transition-duration: 0.2s;
      height: 50px;
      width: 50px;
      fill: $dark-grey;
    }
  }
}
